/* CSS Reset */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body
{
    width: 100%;
    height: 100%;
}

/* Web top Styling */

.webtop
{
    height: 60vh;
    width: 100%;
    background-image: url(Assets/Project_Images/webtop.jpg);
    background-size: cover;

 
}

.webtop img
{
    height: 2.2rem;
    width: 2.2rem;
    border-radius: 50%;

}

nav
{
    width: 100%;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent "light black" background */
    display: flex;
    align-items: center;
    justify-content:flex-start;
    gap: 2rem;
    color: white;
    padding-left: 1.5rem;
}

nav p
{
    cursor: pointer;
}

nav p:hover
{
    background-color: white;
    color: black;
}

nav p:active
{
    transform: scale(0.9);
}


.webtop-part2
{
    height: 80%;
    width: 100%;
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.webtop-part2 h1
{
    font-weight: bold;

}

.webtop-part2 #text
{
    margin:0.8rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight:400;
}

.webtop-part2 button
{
    padding: 0.3rem 1rem;
    background-color: #f70025cb;
    color: white;
    border-radius: 0.2rem;
    border: none;
    cursor: pointer;
}
.webtop-part2 button:hover
{
    transform: scale(1.1);
}
.webtop-part2 button:active
{
    transform: scale(0.9);
}



/* Herosection  */

.herosection
{
    width: 100%;
    height: 80vh;
    background-color:wheat;
   
}


.herosection > h1
{
    text-align: center;
    padding: 2.2rem 0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

.threemenus
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: calc(100% - 117px);
}

.menu 
{
    padding: 2rem;
    margin: 2rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
}

.menu img
{
    height: 8rem;
    width: 8rem;
}

/* Clients setcion */

.clients
{
    width: 100%;
    height: 50vh;
    background-color:rgba(245, 222, 179, 0.596);
    
}

.clients h1
{
    text-align:center;
    padding: 2.2rem 0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.clients .clientsimgs
{
    width: 100%;
    height: calc(100% - 117px);
    
}

.clientsimgs
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.clientsimgs > img
{
    height: 8rem;
    width: 8rem;
    border-radius: 50%;

}

/* Contact us section */

.contact_us
{
    width:100%;
    height: 50vh;
    background-color: wheat;
}

.contact_us h1
{
    text-align:center;
    padding: 2.2rem 0rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.customerinfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.customerinfo input
{
 
    padding: 0.5rem;
    width: 25rem;
    border-radius: 0.3rem;
    border: none;

}

.customerinfo button
{
    padding: 0.3rem 1rem;
    background-color: #f70025cb;
    color: white;
    border-radius: 0.2rem;
    border: none;
    width: 8rem;

}
